* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

.go-to-top {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 93%;
    right: 50px;
    background-image: url('./images/go-to-top.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    transition: ease-in-out .5s;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -ms-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    filter: drop-shadow(2px 2px 2px rgb(102, 102, 102));
    -webkit-filter: drop-shadow(2px 2px 2px rgb(59, 59, 59));
    cursor: pointer;
}

.go-to-top:hover {
    animation: upAndDown 1s;
    animation-iteration-count: infinite !important;
    -webkit-animation: upAndDown 1s;
}

@keyframes upAndDown {
    0% {
        transform: translate(0, 0) rotate(0deg);
        -webkit-transform: translate(0, 0) rotate(0deg);
        -moz-transform: translate(0, 0) rotate(0deg);
        -ms-transform: translate(0, 0) rotate(0deg);
        -o-transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(0px, 4px) rotate(-1deg);
        -webkit-transform: translate(0px, 4px) rotate(-1deg);
        -moz-transform: translate(0px, 4px) rotate(-1deg);
        -ms-transform: translate(0px, 4px) rotate(-1deg);
        -o-transform: translate(0px, 4px) rotate(-1deg);
    }
    100% {
        transform: translate(0px, -4px) rotate(-1deg);
        -webkit-transform: translate(0px, -4px) rotate(-1deg);
        -moz-transform: translate(0px, -4px) rotate(-1deg);
        -ms-transform: translate(0px, -4px) rotate(-1deg);
        -o-transform: translate(0px, -4px) rotate(-1deg);
    }
}


/* ------------------------------------------- <header> ------------------------------------- */

#particles-js {
    width: 100%;
    height: 960px;
    background-color: #37CBCE;
    background-image: url('./images/sogandcv003.png');
    background-position: 88% 100%;
    background-repeat: no-repeat;
    background-size: 540px 820px;
    padding-right: 30px;
}

.logo {
    background-image: url('./images/my-logo-PW.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 280px 280px;
    width: 280px;
    height: 280px;
    position: absolute;
    top: -60px;
    left: 4%;
}

.parent-of-btn-menus {
    display: flex;
    right: 100px;
    top: 15px;
    justify-content: right;
    position: absolute;
}

.btn-menus {
    border: .5px solid rgba(128, 128, 128, 0.13);
    height: 40px;
    border-radius: 20px;
    margin: 10px 5px;
    color: #fff;
    text-align: center;
    padding: 8px 25px;
    box-shadow: 0 3px 5px rgb(104, 103, 103);
    cursor: pointer;
    transition: ease .5s;
    font-size: 18px;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.btn-menus:hover {
    color: #F7434C;
    background-color: rgba(255, 255, 255, 0.459);
}

.btn-1 {
    color: #F7434C;
}

.btn-menus-except-home:hover .btn-1 {
    color: white !important;
}

#firstText {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #191919;
    letter-spacing: 1.5px;
    top: 308px;
    left: 17%;
    font-size: 26px;
    display: inline-block;
    position: absolute;
}

#secondText {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder !important;
    color: #fff;
    top: 350px;
    transform: scale(1, 1.1);
    left: 17.2%;
    display: inline-block;
    font-size: 60px;
    position: absolute;
    width: 800px;
    -webkit-transform: scale(1, 1.1);
    -moz-transform: scale(1, 1.1);
    -ms-transform: scale(1, 1.1);
    -o-transform: scale(1, 1.1);
}

.alphabets {
    margin: 0 -4px;
    padding: 0;
    position: relative;
}

.alphabets1 {
    animation-name: alphabets1;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes alphabets1 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 1%;
        top: 0;
    }
}

.alphabets2 {
    animation-name: alphabets2;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes alphabets2 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 2%;
        top: 0;
    }
}

.alphabets3 {
    animation-name: alphabets3;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes alphabets3 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 3%;
        top: 0;
    }
}

.alphabets4 {
    margin-right: 10px !important;
    animation-name: alphabets4;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes alphabets4 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 4%;
        top: 0;
    }
}

.alphabets5 {
    animation-name: alphabets5;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes alphabets5 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 5%;
        top: 0;
    }
}

.alphabets6 {
    margin-right: 10px !important;
    animation-name: alphabets6;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes alphabets6 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 10%;
        top: 0;
    }
}

.alphabets7 {
    animation-name: alphabets7;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes alphabets7 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 15%;
        top: 0;
    }
}

.alphabets8 {
    animation-name: alphabets8;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes alphabets8 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 20%;
        top: 0;
    }
}

.alphabets9 {
    animation-name: alphabets9;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes alphabets9 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 25%;
        top: 0;
    }
}

.alphabets10 {
    margin-right: 10px !important;
    animation-name: alphabets10;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes alphabets10 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 30%;
        top: 0;
    }
}

.alphabets11 {
    animation-name: alphabets11;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes alphabets11 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 35%;
        top: 0;
    }
}

.alphabets12 {
    animation-name: alphabets12;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes alphabets12 {
    0% {
        left: 0;
        top: 0;
    }
    100% {
        left: 40%;
        top: 0;
    }
}

#thirdText {
    color: #F7434C;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-shadow: 0 6px 5px #218282ec;
    top: 430px;
    left: 17%;
    position: absolute;
}

#fourthText {
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    top: 530px;
    left: 17%;
    position: absolute;
    width: 80%;
}

.menu-items {
    visibility: hidden;
    top: 60px;
    right: -15px;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#divResMenu:first-child {
    padding: 10px 4px 0 10px;
}

.res-a-in-btn {
    background-color: #fff;
    font-size: 14px;
    color: #000 !important;
    border: 10px solid transparent !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    width: 100% !important;
    text-decoration: none !important;
}

.res-a-in-btn:hover {
    font-size: 14px;
    background-color: #F86A72;
    color: #FCD3D6 !important;
    font-weight: bold;
    border: 10px solid transparent !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    text-decoration: none !important;
    filter: drop-shadow(2px 2px 2px black);
    -webkit-filter: drop-shadow(2px 2px 2px black);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.div-res-menu {
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: none;
}

.res-li-in-btn {
    background-color: transparent;
    font-size: 14px;
    color: white !important;
    display: block;
    height: 45px;
    list-style: none;
}

.download-btn {
    all: unset;
    cursor: pointer;
    background-color: #fff;
    width: 170px !important;
    height: 48px !important;
    position: absolute;
    top: 600px;
    left: 325px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.664);
    font-size: 19px;
    text-align: center;
    transition: all .5s !important;
    -webkit-transition: all .5s !important;
    -moz-transition: all .5s !important;
    -ms-transition: all .5s !important;
    -o-transition: all .5s !important;
}

.download-btn:hover {
    background-color: #F7434C;
    color: #fff;
}

.download-btn:hover .svg-download {
    fill: #fff;
    color: #fff;
}

.hire-me-btn {
    all: unset;
    cursor: pointer;
    text-align: center !important;
    width: 170px !important;
    position: absolute;
    height: 48px !important;
    top: 600px;
    left: 505px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.664);
    font-size: 19px;
    background-color: #F7434C;
    color: white;
    transition: all .5s !important;
    -webkit-transition: all .5s !important;
    -moz-transition: all .5s !important;
    -ms-transition: all .5s !important;
    -o-transition: all .5s !important;
}

.hire-me-btn:hover {
    background-color: #343A3F;
}

.svg-download {
    fill: #000;
    color: #000;
    width: 15px;
    height: 17px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.control-animation {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 1px;
}


/* ------------------------------------------- </header> ------------------------------------- */


/* ------------------------------------------- <main> ------------------------------------- */

.part-1 {
    background: #eee url('http://static.simpledesktops.com/static/images/sd-bg.png') repeat;
    height: 670px;
    width: 100%;
    padding: 15px 10%;
    position: relative;
    z-index: -2;
    box-shadow: inset 1px -1px 10px 2px black;
}

.part-1::after {
    content: '';
    position: absolute;
    background-color: #eff5fa70;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.about-me,
.education {
    background-color: white;
    width: 75%;
    height: 455px;
    border-top: 8px solid #F7434C;
    box-shadow: 0 2px 8px 2px gray;
    margin-top: 92px;
    z-index: 1;
}

.title-education,
.title-about-me {
    margin: 50px 50px;
    padding: 10px 25px;
    height: 85px;
    border-left: 3px solid #37CACD;
    font-weight: 500 !important;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}

.fa-graduation-cap,
.fa-id-badge {
    font-size: 30px;
    color: #F7434C;
}

.part-2 {
    background: #eee url('http://static.simpledesktops.com/uploads/desktops/2014/08/06/w_v_s.png') no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 980px;
    width: 100%;
    padding: 15px 10%;
    position: relative;
    z-index: -2;
    box-shadow: inset 1px -1px 10px 2px black;
}


/* http://static.simpledesktops.com/uploads/desktops/2015/07/11/Yosemite-Color-Block.png */


/* http://static.simpledesktops.com/uploads/desktops/2014/08/06/w_v_s.png */

.part-2::after {
    content: '';
    position: absolute;
    background-color: #37cccecc;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}


/* ------------------------------------------- </main> ------------------------------------- */


/* ------------------------------------------- responsive ------------------------------------- */

@media(max-width:1700px) {
    .parent-of-btn-menus {
        right: 50px;
    }
    #firstText {
        font-weight: 400;
        top: 300px;
        left: 5%;
        font-size: 26px;
    }
    #secondText {
        top: 350px;
        left: 5%;
        font-size: 60px;
        width: 600px;
    }
    @keyframes alphabets6 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 6.5%;
            top: 0;
        }
    }
    @keyframes alphabets7 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 7%;
            top: 0;
        }
    }
    @keyframes alphabets8 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 9%;
            top: 0;
        }
    }
    @keyframes alphabets9 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 12%;
            top: 0;
        }
    }
    @keyframes alphabets10 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 17%;
            top: 0;
        }
    }
    @keyframes alphabets11 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 22%;
            top: 0;
        }
    }
    @keyframes alphabets12 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 26%;
            top: 0;
        }
    }
    #thirdText {
        font-size: 50px;
        top: 430px;
        left: 5%;
    }
    #fourthText {
        top: 535px;
        left: 5%;
    }
    .download-btn {
        top: 600px;
        left: 100px;
    }
    .hire-me-btn {
        top: 600px;
        left: 280px;
    }
}

@media(max-width:1160px) {
    #particles-js {
        background-position: 100% bottom;
        background-size: 360px 550px;
        height: 820px;
    }
    .parent-of-btn-menus {
        right: 15px;
    }
    .btn-menus {
        padding: 10px 20px;
        font-size: 14px;
    }
    .logo {
        background-size: 190px 190px;
        width: 190px;
        height: 190px;
        position: absolute;
        top: -45px;
        left: 1%;
    }
    #firstText {
        top: 215px;
        left: 8%;
        font-size: 18px;
    }
    #secondText {
        top: 250px;
        left: 8%;
        font-size: 40px;
        width: 500px;
    }
    .alphabets {
        margin: 0 -3px;
    }
    @keyframes alphabets7 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 7%;
            top: 0;
        }
    }
    @keyframes alphabets8 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 8%;
            top: 0;
        }
    }
    @keyframes alphabets9 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 9%;
            top: 0;
        }
    }
    @keyframes alphabets10 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 10%;
            top: 0;
        }
    }
    @keyframes alphabets11 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 11%;
            top: 0;
        }
    }
    @keyframes alphabets12 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 12%;
            top: 0;
        }
    }
    #thirdText {
        font-size: 37px;
        top: 310px;
        left: 8%;
    }
    #fourthText {
        top: 385px;
        left: 8%;
        width: 50%;
    }
    .download-btn {
        width: 120px !important;
        height: 38px !important;
        top: 460px;
        left: 75px;
        font-size: 17px;
    }
    .hire-me-btn {
        width: 120px !important;
        height: 38px !important;
        top: 460px;
        left: 205px;
        font-size: 17px;
    }
    .about-me,
    .education {
        background-color: white;
        width: 100%;
        height: 400px;
        border-top: 8px solid #F7434C;
        box-shadow: 0 2px 8px 2px gray;
        margin-top: 92px;
    }
    .title-education,
    .title-about-me {
        margin: 30px 30px;
        padding: 10px 0 0 25px;
        height: 75px;
        border-left: 3px solid #37CACD;
        font-weight: 500 !important;
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .fa-graduation-cap,
    .fa-id-badge {
        font-size: 25px;
        color: #F7434C;
    }
}

.btn-menus-responsive {
    display: none;
}

@media screen and (max-width: 741px) {
    .btn-menus-responsive a:not(:first-child) {
        display: none;
    }
    .btn-menus-responsive a.icon {
        float: right;
        display: block;
    }
    .btn-menus-responsive {
        overflow: hidden;
        background-color: #333;
    }
    .btn-menus-responsive a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .btn-menus-responsive a:hover {
        background-color: #ddd;
        color: black;
    }
    .btn-menus-responsive a.active {
        background-color: #4CAF50;
        color: white;
    }
    .btn-menus-responsive {
        display: block;
    }
}

@media screen and (max-width: 741px) {
    .btn-menus-responsive.responsive {
        position: relative;
    }
    .btn-menus-responsive.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .btn-menus-responsive.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.dropdown-btn {
    display: none;
}

@media(max-width:741px) {
    #particles-js {
        background-position: 100% bottom;
        background-size: 250px 400px;
        height: 920px;
    }
    .parent-of-btn-menus {
        display: none;
    }
    .menu-items {
        visibility: visible !important;
    }
    .dropdown-btn {
        background-image: url('./images/menu.png');
        background-position: center;
        background-size: 25px 29px;
        background-repeat: no-repeat;
        z-index: 1;
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        border: 2px solid rgba(161, 161, 161, 0.863);
        background-color: rgba(255, 255, 255, 0.329);
        padding: 3px 3px 0px 3px;
        margin-top: 6px !important;
        width: 35px;
        border-radius: 5px;
        height: 35px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .dropdown-btn:hover {
        box-shadow: 0 2px 6px #494949;
    }
    .logo {
        background-size: 170px 170px;
        width: 170px;
        height: 170px;
        position: absolute;
        top: -35px;
        left: 1%;
    }
    #firstText {
        font-weight: 400;
        top: 180px;
        left: 7%;
        font-size: 16px;
    }
    #secondText {
        top: 210px;
        left: 7%;
        font-size: 28px;
        width: 300px;
    }
    .alphabets {
        margin: 0;
        padding: 0;
        position: relative;
    }
    @keyframes alphabets1 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 1%;
            top: 0;
        }
    }
    @keyframes alphabets2 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 2%;
            top: 0;
        }
    }
    @keyframes alphabets3 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 3%;
            top: 0;
        }
    }
    @keyframes alphabets4 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 4%;
            top: 0;
        }
    }
    @keyframes alphabets5 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 5%;
            top: 0;
        }
    }
    @keyframes alphabets6 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 6%;
            top: 0;
        }
    }
    @keyframes alphabets7 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 7%;
            top: 0;
        }
    }
    @keyframes alphabets8 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 8%;
            top: 0;
        }
    }
    @keyframes alphabets9 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 9%;
            top: 0;
        }
    }
    @keyframes alphabets10 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 10%;
            top: 0;
        }
    }
    @keyframes alphabets11 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 11%;
            top: 0;
        }
    }
    @keyframes alphabets12 {
        0% {
            left: 0;
            top: 0;
        }
        100% {
            left: 12%;
            top: 0;
        }
    }
    #thirdText {
        font-size: 27px;
        top: 250px;
        left: 7%;
    }
    #fourthText {
        top: 310px;
        left: 7%;
        width: 50%;
        font-size: 15px;
    }
    .download-btn {
        width: 90px !important;
        height: 38px !important;
        top: 380px;
        left: 50px;
        font-size: 14px;
    }
    .hire-me-btn {
        width: 90px !important;
        height: 38px !important;
        top: 380px;
        left: 150px;
        font-size: 14px;
    }
    .svg-download {
        width: 10px;
        height: 12px;
    }
    .about-me,
    .education {
        background-color: white;
        width: 100%;
        height: 455px;
        border-top: 8px solid #F7434C;
        box-shadow: 0 2px 8px 2px gray;
        margin-top: 25px;
    }
    .part-1 {
        height: 1020px;
    }
    .go-to-top {
        right: 10px;
    }
}

@media(max-width:450px) {
    #particles-js {
        background-position: center bottom;
        background-size: 230px 360px;
        height: 710px;
    }
    .logo {
        background-size: 150px 150px;
        width: 150px;
        height: 150px;
        position: absolute;
        top: -25px;
        left: -10px;
    }
    #firstText {
        font-weight: 400;
        top: 110px;
        left: 5%;
        font-size: 15px;
        width: 220px;
    }
    #secondText {
        top: 140px;
        left: 5%;
        font-size: 25px;
        width: 250px;
    }
    .alphabets {
        margin: 0 -1px;
        padding: 0;
        position: relative;
    }
    #thirdText {
        font-size: 24px;
        top: 180px;
        left: 5%;
    }
    #fourthText {
        top: 230px;
        left: 5%;
        width: 90%;
        font-size: 14px;
    }
    .download-btn {
        width: 90px !important;
        height: 38px !important;
        top: 280px;
        left: 20px;
        font-size: 14px;
    }
    .hire-me-btn {
        width: 90px !important;
        height: 38px !important;
        top: 280px;
        left: 120px;
        font-size: 14px;
    }
    .svg-download {
        width: 10px;
        height: 12px;
    }
    .about-me,
    .education {
        background-color: white;
        width: 100%;
        height: 300px;
        border-top: 8px solid #F7434C;
        box-shadow: 0 2px 8px 2px gray;
        margin-top: 30px;
    }
    .part-1 {
        height: 720px;
    }
    .title-education,
    .title-about-me {
        margin: 30px 30px;
        padding: 10px 0 0 25px;
        height: 65px;
        border-left: 3px solid #37CACD;
        font-weight: 500 !important;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .fa-graduation-cap,
    .fa-id-badge {
        font-size: 22px;
        color: #F7434C;
    }
    .go-to-top {
        width: 25px;
        height: 25px;
        top: 93%;
        right: 10px;
        background-size: 25px 25px;
    }
}