/* ---------------------------------------------------<font face>------------------------------------------------------ */

@font-face {
    font-family: "IRANSans";
    font-style: normal;
    font-weight: bolder;
    src: url('./fonts/IRANSansWeb/IRANSansWeb.eot');
    src: url('./fonts/IRANSansWeb/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./fonts/IRANSansWeb/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./fonts/IRANSansWeb/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/IRANSansWeb/IRANSansWeb.ttf') format('truetype');
}

@font-face {
    font-family: "materialdesigncons";
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/materialdesigncons-webfont/materialdesignicons-webfont.eot');
    src: url('./fonts/materialdesigncons-webfont/materialdesignicons-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('./fonts/materialdesigncons-webfont/materialdesignicons-webfont.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('./fonts/materialdesigncons-webfont/materialdesignicons-webfont.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./fonts/materialdesigncons-webfont/materialdesignicons-webfont.ttf') format('truetype');
}


/* ---------------------------------------------------</font face>------------------------------------------------------ */


/*------------------------------------------------------<all (body)>---------------------------------------------------------- */

* {
    font-family: "IRANSans";
    font-size: 11px;
    line-height: 1.7em;
}

.support-button {
    position: fixed;
    bottom: 0;
    right: 12%;
    width: 230px;
    height: 40px;
    padding: 6px 0 0 0;
    color: rgb(41, 41, 41);
    cursor: pointer;
    background: #ff9800 !important;
    border-radius: 5px 5px 0 0;
    z-index: 9999;
}

@media (max-width: 768px) {
    .support-button {
        display: none;
    }
}

.support-span {
    width: 30px;
    height: 31px;
    position: absolute;
    top: 5px;
    right: 23px;
    display: inline-block !important;
}

.support-button>div>b {
    display: inline-block !important;
    font-size: 14px !important;
    position: absolute;
    top: 10px;
    left: 23px;
}

.support-div {
    display: none;
    position: fixed;
    bottom: 42px !important;
    right: 12%;
    width: 230px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.go-to-up {
    position: fixed;
    display: none;
    bottom: 30px;
    right: 30px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    z-index: 9999;
    opacity: .7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


/*------------------------------------------------------</all (body)>--------------------------------------------------------- */


/* -----------------------------------------------------<header>-------------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.644), transparent, transparent, transparent), url('./images/Bg-images/bg-main.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top -70px;
    background-size: cover;
}

.smtik-logo-top {
    position: relative;
    top: -45px;
    left: 0px;
}


/* --------------------------------------------<row-1 header> ----------------------------------*/

.header-btn {
    background-color: transparent;
    color: white;
    padding: 0px 5px 3px 5px;
    border: 0.5px solid rgb(94, 94, 94);
    padding-bottom: 5px !important;
    margin: -5px;
}

.header-btn:hover {
    background-color: rgba(36, 36, 36, 0.336);
    color: white;
    border: 0.5px solid rgb(94, 94, 94);
    padding-bottom: 5px !important;
    transition-duration: 0.5s;
}


/* -------------------------------------------</row-1 header> ----------------------------------*/


/* -------------------------------------------<row-2 header> -----------------------------------*/

.header-nav {
    color: white;
    background-color: transparent;
}

.header-nav:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.dropdown {
    position: relative !important;
    display: inline-block !important;
}

.dropdown-content {
    display: none !important;
    position: absolute !important;
    min-width: 220px !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
    z-index: 1 !important;
    margin-top: -7px !important;
    margin-right: -1px !important;
    border-top-right-radius: 0;
}

.div-age {
    display: inline-block;
}

.div-plus-and-minus {
    display: inline-block;
    /* border: 1px solid red; */
    height: 30px;
    /* padding: 2px !important; */
}

.div-increment {
    padding-bottom: 4px !important;
    /* line-height: 1.5em !important; */
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 30px;
    height: 27px;
    border: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(to right, #ffffff, #ffffff, #ccc);
    cursor: pointer;
}

.div-increment:hover {
    filter: drop-shadow(2px 2px 2px rgb(151, 151, 151));
    -webkit-filter: drop-shadow(2px 2px 2px gray);
    background: linear-gradient(to right, #ffffff, rgb(255, 205, 112));
}

.number-of-tickets {
    /* line-height: 1.7em !important; */
    font-size: 16px;
    margin: 2px 2px 5px !important;
    display: inline-block;
    width: 30px;
    height: 27px;
    border: 1px solid #ccc;
    background: radial-gradient(#ffffff, #ffffff, #ccc);
    cursor: pointer;
}

.number-of-tickets>span {
    /* line-height: 1.7em !important; */
    font-size: 16px;
    /* margin: 2px 2px !important; */
    cursor: pointer;
}

.div-decrement {
    padding-bottom: 2px !important;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 30px;
    height: 27px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    /* line-height: 1.5em !important; */
    border-bottom-left-radius: 5px;
    background: linear-gradient(to left, #ffffff, #ffffff, #ccc);
    cursor: pointer;
}

.div-decrement:hover {
    filter: drop-shadow(-2px 2px 2px rgb(151, 151, 151));
    -webkit-filter: drop-shadow(-2px 2px 2px rgb(151, 151, 151));
    background: linear-gradient(to left, #ffffff, rgb(255, 205, 112));
}

.a-in-dropdown-menu {
    color: black !important;
    padding: 12px 10px !important;
    text-decoration: none !important;
    display: block !important;
    font-size: 13px !important;
}

.dropdown-content a:hover {
    color: #1EBAFF !important;
}

.dropdown:hover .dropdown-content {
    display: block !important;
}

.dropdown:hover .dropbtn {
    color: black;
    background-color: white;
    border: 2px solid white;
}

.btn-nav {
    border-radius: 5% !important;
    -webkit-border-radius: 5% !important;
    -moz-border-radius: 5% !important;
    -ms-border-radius: 5% !important;
    -o-border-radius: 5% !important;
    color: white;
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 13.5px !important;
    margin: 5px 0px !important;
    padding: 10px 7px;
}

.btn-nav:hover {
    color: black;
    background-color: white;
    border: 2px solid white;
}


/* ------------------------------------------</row-2 header> -----------------------------------*/


/* ------------------------------------------<row-3 header> ------------------------------------*/

.div-row-3 {
    width: 100%;
    height: 70px;
}

.div-2-row-3 {
    margin: 1px auto;
    width: 432px;
}

.air-btn-active {
    background-color: #1EBAFF !important;
    width: 100px !important;
    height: 68px !important;
}

.pages-btn {
    width: 100px !important;
    height: 68px !important;
    background-color: #000000a2;
    color: white;
    font-size: 13px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.pages-btn:hover {
    width: 100px !important;
    height: 68px !important;
    background-color: #000000be !important;
    color: #1EBAFF;
    transition-duration: 0.5s;
}


/* --------------------------------------<responsive row-3 header> ------------------------------------*/

.border-div-res {
    margin-top: -30px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 10px;
    filter: drop-shadow(2px 2px 2px gray);
    -webkit-filter: drop-shadow(2px 2px 2px gray);
}

.row-3-res {
    padding-top: 10px;
}

.div-2-row-3-res {
    width: 239px;
    margin: 1px auto !important;
}

@media (max-width:240px) {
    .div-2-row-3-res {
        width: 70% !important;
    }
}

.air-btn-active-row-3 {
    background-color: #1EBAFF !important;
    width: 35px !important;
    height: 35px !important;
    border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -ms-border-radius: 100% !important;
    -o-border-radius: 100% !important;
}

.pages-btn-res {
    width: 35px !important;
    height: 35px !important;
    background-color: #ccc;
    color: white;
    font-size: 13px;
    border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    -ms-border-radius: 100% !important;
    -o-border-radius: 100% !important;
}

.pages-btn-res:hover {
    width: 35px !important;
    height: 35px !important;
    background-color: #ccc !important;
    color: #1EBAFF;
    transition-duration: 0.5s;
}

.pages-btn-res:hover .ico {
    fill: gray;
    transition-duration: 0.5s;
}

.flight-takeoff-svg-res {
    fill: white;
    width: 25px;
    height: 25px;
    margin-right: -9px;
    margin-top: -6px;
}

.train-svg-res {
    fill: white;
    width: 25px;
    height: 25px;
    margin-right: -10px;
    margin-top: -6px;
}

.hotel-svg-res {
    fill: white;
    width: 25px;
    height: 25px;
    margin-right: -10px;
    margin-top: -6px;
}


/* .car-svg-res{
    fill: white;
    width: 25px;
    height: 25px;
    margin-right:-9px;
    margin-top:-6px;
} */


/* -------------------------------------</responsive row-3 header> ------------------------------------*/


/* --------------------------------------------------</row-3 header> ---------------------------------------*/


/* -------------------------------------------------<row-4 headerr> -----------------------------------------*/

.div-row-4 {
    width: 100%;
    background-color: #000000a9;
    margin-top: 75px;
    padding: 15px 15px 0px 15px;
    border-radius: 3px;
    font-size: 14px !important;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: table;
}

.div-for-inputs {
    padding: 10px 15px 0px 15px;
    display: table-cell;
}

.radio-primary {
    text-align: right !important;
    padding: 2px 1px 10px 55px !important;
    display: inline-block;
    margin: 0px !important;
}

input[type='radio']:after {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    cursor: pointer;
}

input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #1EBAFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    cursor: pointer;
}

.text-radio {
    padding-right: 0px !important;
    margin-right: -15px !important;
}

.search-btn {
    background-color: #FFB700 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.search-btn:hover {
    background-color: #EAA800 !important;
    color: white !important;
}

.lines {
    fill: #56a5ff;
    color: #56a5ff;
}

.js-example-basic-single {
    color: rgb(136, 136, 136);
    width: 100%;
    height: 34px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px 24px !important;
    border: 1px solid transparent;
}

.source-select {
    padding: 5px 24px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    display: inline-block !important;
    width: 100% !important;
    height: 34px !important;
    margin: 0 !important;
}

.destination-select {
    padding: 5px 24px !important;
    display: inline-block !important;
    width: 100% !important;
    height: 34px !important;
    margin: 0 !important;
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -ms-border-radius: 0!important;
    -o-border-radius: 0!important;
}

#error-source {
    background-color: #CD1731;
    color: white;
    width: 101px;
    height: 20px;
    right: 35px;
    display: none;
    position: absolute;
    border-radius: 3px;
    z-index: 1;
}

#error-destination {
    background-color: #CD1731;
    color: white;
    width: 101px;
    height: 20px;
    right: 35px;
    display: none;
    position: absolute;
    border-radius: 3px;
    z-index: 1;
}

#error-calendar1 {
    background-color: #CD1731;
    color: white;
    width: 120px;
    height: 20px;
    right: 30px;
    display: none;
    position: absolute;
    border-radius: 3px;
    z-index: 1;
}

#error-calendar2 {
    background-color: #CD1731;
    color: white;
    width: 120px;
    height: 20px;
    right: 30px;
    display: none;
    position: absolute;
    border-radius: 3px;
    z-index: 1;
}

.br-768 {
    display: none;
}

@media (max-width: 768px) {
    .br-768 {
        display: block;
    }
}

.customize-input {
    padding-right: 25px;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.customize-input:before,
.span-customize-input {
    display: inline-block;
    font-size: 15px !important;
    content: '';
    color: rgb(161, 161, 161) !important;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 4px 3px 0px 0px !important;
    width: 20px !important;
    position: absolute;
}

.customize-input:before,
.span-customize-input-location-1 {
    display: inline-block;
    font-size: 15px !important;
    content: '';
    color: rgb(161, 161, 161) !important;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 4px 6px 0px 0px !important;
    width: 18px !important;
    height: 25px;
    padding-right: 3px;
    position: absolute;
}

.customize-input:before,
.span-customize-input-location-2 {
    display: inline-block;
    font-size: 15px !important;
    content: '';
    color: rgb(161, 161, 161) !important;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 4px 6px 0px 0px !important;
    width: 18px !important;
    height: 25px;
    padding-right: 6px;
    position: absolute;
}


/* --------------------------<for select box>------------------------------ */

.select2-selection__rendered {
    height: 34px !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    padding: 0px !important;
    margin-top: 0px;
    border: transparent;
}

.select2-container .select2-selection--single {
    height: 34px !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    margin-right: 27px;
    margin-left: 0px;
    padding-left: 15px;
    border-right: transparent;
    right: 26px !important;
    border: transparent;
}

.select2-selection__arrow {
    display: none;
}


/* -------------------------</for select box>------------------------------ */

.customize-col-1 {
    padding: 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid rgb(161, 161, 161);
}

.customize-col-2 {
    padding: 0 !important;
    background-color: white;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.span-customize-input-swap {
    display: inline-block;
    content: '';
    margin: -29px -12px 0px 0px;
    padding-right: 1px;
    padding-top: 1px;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 100%;
    background-color: white;
    border: 1px solid rgb(194, 194, 194);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    cursor: pointer;
}

.btn-ticket {
    text-align: right!important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.ticket-selection-ul {
    color: #494949;
    font-size: 14px !important;
    width: 170%;
    padding: 10px 20px;
    line-height: 1.5em !important;
}

.ticket-selection-span-1 {
    color: #494949;
    font-size: 14px !important;
}

.ticket-selection-span-2 {
    color: #494949;
    font-size: 12px !important;
}

.empty-div {
    width: 100%;
    height: 285px;
}

@media (max-width: 768px) {
    .empty-div {
        display: none !important;
    }
}

.ui-datapicker-header {
    color: black;
    background-color: gray;
}


/* -------------------------------<responsive row-4 header> ------------------------------------*/

@media (max-width: 769px) {
    .div-row-4 {
        width: 100%;
        background-color: #eee;
        margin-top: 20px;
        padding: 15px 15px 0px 15px;
        border-radius: 3px;
        font-size: 14px !important;
        color: white;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        display: table;
        filter: drop-shadow(2px 2px 5px gray);
        -webkit-filter: drop-shadow(2px 2px 5px gray);
    }
}

@media (max-width: 769px) {
    .text-radio {
        padding-right: 0px !important;
        margin-right: -15px !important;
        color: gray;
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .customize-col-1 {
        border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -ms-border-radius: 5px !important;
        -o-border-radius: 5px !important;
        padding: 0 !important;
        background-color: white;
        margin-bottom: 5px !important;
        margin-top: 10px !important;
        border: 1px solid #ccc;
    }
}

@media (max-width: 768px) {
    .customize-col-2 {
        border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -ms-border-radius: 5px !important;
        -o-border-radius: 5px !important;
        padding: 0 !important;
        background-color: white;
        margin-bottom: 5px !important;
        margin-top: 5px !important;
        border: 1px solid #ccc;
    }
}

@media (max-width: 768px) {
    .source-select {
        padding: 2px 24px !important;
        display: inline-block !important;
        width: 100% !important;
        height: 34px !important;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
}

@media (max-width: 768px) {
    .destination-select {
        padding: 2px 24px !important;
        display: inline-block !important;
        width: 100% !important;
        height: 34px !important;
        border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -ms-border-radius: 5px !important;
        -o-border-radius: 5px !important;
    }
}

@media (max-width: 991px) {
    .col-destination {
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
    }
}

@media (max-width: 991px) {
    .destination-select {
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
    }
}

@media (max-width: 768px) {
    .js-example-basic-single {
        color: rgb(136, 136, 136);
        width: 100%;
        height: 34px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 5px 24px !important;
    }
}

@media (max-width: 768px) {
    .customize-input:before,
    .span-customize-input-location-2 {
        display: inline-block;
        font-size: 15px !important;
        content: '';
        color: rgb(161, 161, 161) !important;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 4px 6px 0px 0px !important;
        width: 18px !important;
        height: 25px;
        padding-right: 3px;
        position: absolute;
    }
}

@media (max-width: 768px) {
    .calendar1 {
        margin-top: 5px;
        border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -ms-border-radius: 5px !important;
        -o-border-radius: 5px !important;
    }
}

@media (max-width: 991px) {
    .calendar1 {
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }
}

@media (max-width: 768px) {
    .calendar2 {
        margin-bottom: 0px;
        border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -ms-border-radius: 5px !important;
        -o-border-radius: 5px !important;
    }
}

@media (max-width: 768px) {
    .date-svg-icon {
        fill: rgb(146, 146, 146);
        width: 20px;
        height: 20px;
        margin-top: 5px !important;
    }
}

@media (max-width: 768px) {
    .span-customize-input-swap {
        display: block;
        content: '';
        margin: -55px 90% 0 0;
        padding-right: 4px;
        padding-top: 4px;
        width: 30px;
        height: 30px;
        position: absolute;
        border-radius: 100%;
        background-color: white;
        border: 1px solid rgb(194, 194, 194);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        cursor: pointer;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@media (max-width: 768px) {
    .swap-svg-icon {
        fill: orange;
        width: 33px;
        height: 33px;
        position: relative;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
}

@media (max-width: 768px) {
    .ticket-selection-ul {
        color: #494949;
        font-size: 14px !important;
        width: 100%;
        padding: 20px 10px;
    }
}

@media (max-width: 768px) {
    .btn-ticket {
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -ms-border-radius: 5px !important;
        -o-border-radius: 5px !important;
        margin-bottom: 10px !important;
        display: block;
    }
}


/* ------------------------------</responsive row-4 header> ------------------------------------*/


/* ------------------------------------------</row-4 header> -------------------------------------------*/


/* -----------------------------------------------------</header>------------------------------------------------------- */


/* -----------------------------------------------------<main div 1>-------------------------------------------------------------- */

.main-div-1 {
    background-image: url('./images/Bg-images/bg-world.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    background-position: 0px 200px;
    padding-top: 60px;
}


/* ------------------------------------------<row-1 main div 1>--------------------------------------------------------- */

@media (max-width: 768px) {
    .row-in-main-div-1 {
        display: none !important;
    }
}

.main-icon-row-1 {
    width: 37px;
    height: 37px;
    background-color: #E7E7E7;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    filter: drop-shadow(1px 1px 3px gray);
    -webkit-filter: drop-shadow(1px 1px 3px gray);
}

.main-wrapper-row-1 {
    width: 37px;
    height: 37px;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: transparent;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.title-in-main-row-1 {
    display: inline-block;
    color: black;
    margin-right: 10px;
    font-weight: bold !important;
    font-size: 18px !important;
}

.content-main-row-1>p {
    margin-top: 10px;
    font-size: 13px !important;
    color: gray;
}


/* -----------------------------------------</row-1 main>--------------------------------------------------------- */


/* ------------------------------------------<row-2 main>--------------------------------------------------------- */

.row-2 {
    background-image: url('./images/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 153px;
    height: 113px;
    margin: 50px auto 10px auto;
}

@media (max-width: 768px) {
    .row-2 {
        margin: 0px auto 10px auto;
    }
}


/* -----------------------------------------</row-2 main>--------------------------------------------------------- */


/* ------------------------------------------<row-3 main>--------------------------------------------------------- */

.row-3 {
    margin: 0px auto;
    height: 20px;
}

.row-3>p {
    font-size: 22px;
    color: #454545;
}


/* -----------------------------------------</row-3 main>--------------------------------------------------------- */


/* ------------------------------------------<row-4 main>--------------------------------------------------------- */

.row-4 {
    margin: 30px auto;
    color: #454545;
}


/* -----------------------------------------</row-4 main>--------------------------------------------------------- */


/* ------------------------------------------<row-5 main>--------------------------------------------------------- */

.ul-cert-box {
    margin: 5px auto;
    width: 96%;
    padding-bottom: 25px;
    padding-right: 5px;
    padding-left: 5px;
}

.ul-cert-box>li {
    list-style: none;
    display: inline-block !important;
    margin: 0 10px;
    width: 110px;
    height: 110px;
    box-shadow: 1px 1px 4px 0 rgb(156, 156, 156);
    border: 1px solid white;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.ul-cert-box>li:hover {
    list-style: none;
    display: inline-block !important;
    margin: 0 10px;
    width: 110px;
    height: 110px;
    background-color: white;
    border: 1px solid #95c6ff;
    box-shadow: 0px 5px 15px 0px gray;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition-duration: 0.5s;
}

.ul-cert-box>li>span>img {
    margin: 10px auto;
}

.empty-div-2 {
    width: 100%;
    height: 20px;
    background-color: white;
}

@media (max-width: 768px) {
    .empty-div-2 {
        display: none !important;
    }
}


/* -----------------------------------------</row-5 main>--------------------------------------------------------- */


/* ----------------------------------------------------</main div 1>-------------------------------------------------------------- */


/* ----------------------------------------------------<main div 2>-------------------------------------------------------------- */

.main-div-2 {
    background-color: #EFF5F9;
    color: #454545;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 1.7em !important;
    text-align: justify;
}

.main-div-2>.container>.row>.col-md-12 {
    line-height: 1.7em !important;
}

.main-div-2>.container>.row>.col-md-12>p {
    font-size: 13px !important;
    line-height: 1.7em !important;
}

.article-b {
    font-size: 16px !important;
    line-height: 2.5em !important;
    color: #454545;
}

.a-for-articles {
    font-size: 13px !important;
    line-height: 2em !important;
    color: #1EBAFF;
}

.a-for-articles:hover {
    font-size: 13px !important;
    line-height: 2em !important;
    color: #6C9FCB;
    text-decoration: none;
}


/* ----------------------------------------------------</main div 2>-------------------------------------------------------------- */


/* -----------------------------------------------------<main div 3>-------------------------------------------------------------- */

.main-div-3 {
    background-color: white;
    color: black;
    padding-top: 0px;
    padding-bottom: 40px;
    line-height: 1.7em !important;
    text-align: justify;
    border-bottom: 1px solid #ccc;
}

.bg-footer-shadow-div {
    margin: 0px auto;
    width: 90%;
    height: 40px;
    background-image: url('./images/footer-bg.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.title-main-div-3 {
    color: #1EBAFF;
    font-size: 18px;
}

.div-3-row {
    margin-top: 10px;
}

.info-main-div-3 {
    font-size: 12px;
    color: #454545;
    font-weight: bold !important;
    position: inherit;
    margin-right: 20px;
    text-align: justify;
}

.div-ico {
    display: inline-block !important;
}

.location-main-div-3 {
    color: #1EBAFF;
    font-size: 18px;
}


/* ----------------------------------------------------</main div 3>-------------------------------------------------------------- */


/* -----------------------------------------------------<main div 4>-------------------------------------------------------------- */

.div-main-4 {
    width: 100%;
    background-color: #EFF5F9;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.main-row-4 {
    padding: 15px 0 0px 0;
}

.email-input {
    padding-left: 30px !important;
    display: inline-block;
    width: 100% !important;
}

#error-email {
    background-color: #CD1731;
    color: white;
    width: 101px;
    height: 20px;
    left: 15px;
    top: 35px;
    display: none;
    position: absolute;
    border-radius: 3px;
    z-index: 1;
}

.icon-in-email-input {
    display: inline-block;
    font-size: 15px !important;
    content: '';
    color: rgb(161, 161, 161) !important;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 18px !important;
    height: 25px;
    padding-right: 3px;
    position: absolute;
    top: 4px;
    left: 30px;
}

.email-button {
    background-color: #1EBAFF;
    color: white;
    display: inline;
}

.email-button:hover {
    background-color: #349DCC;
    color: white;
}

.col-email {
    position: relative;
    padding-bottom: 10px;
}


/* ----------------------------------------------------</main div 4>-------------------------------------------------------------- */


/* -----------------------------------------------------<main div 5>-------------------------------------------------------------- */

.div-main-5 {
    border-bottom: 1px solid #ccc;
}

.main-row-5-1 {
    padding-top: 20px;
}

.main-row-5-2 {
    padding-top: 40px;
}

.title-div-5 {
    font-weight: bold;
    font-size: 15px;
    color: #494949;
    line-height: 2em !important;
}

.airplane3-svg {
    fill: #2e2e2e;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;
    right: 5px;
}

.question-svg {
    fill: #2e2e2e;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0px;
    right: 5px;
}

.links-div-5 {
    margin-right: 22px;
}

.a-in-div-5 {
    text-decoration: none;
    font-size: 14px;
    color: #1EBAFF;
    line-height: 2em !important;
}

.a-in-div-5:hover {
    text-decoration: none;
    color: #337AB7;
}

.last-title-div-5 {
    font-weight: bold;
    font-size: 15px;
    color: #494949;
    line-height: 2.2em !important;
}

.last-a-in-div-5 {
    text-decoration: none;
    font-size: 14px;
    color: #1EBAFF;
    line-height: 2.3em !important;
}

.last-a-in-div-5:hover {
    text-decoration: none;
    color: #337AB7;
}


/* ----------------------------------------------------</main div 5>-------------------------------------------------------------- */


/* -----------------------------------------------------<footer>-------------------------------------------------------------- */

.footer-row {
    padding: 20px 0;
    color: #494949;
}

.footer-row>div>p {
    font-size: 12px !important;
}

.a-in-footer {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    color: #1EBAFF;
    line-height: 2em !important;
    cursor: pointer;
}

.a-in-footer:hover {
    text-decoration: none;
    color: #337AB7;
}


/* ----------------------------------------------------</footer>-------------------------------------------------------------- */


/* --------------------------------------------<svg icon> ----------------------------------*/

.google-plus-svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    fill: rgb(83, 83, 83);
}

.facebook-svg {
    width: 25px;
    height: 22px;
    cursor: pointer;
    fill: rgb(83, 83, 83);
}

.twitter-svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    fill: rgb(83, 83, 83);
}

.instagram-svg {
    width: 25px;
    height: 25px;
    fill: rgb(83, 83, 83);
    cursor: pointer;
    padding-right: 5px;
}

.google-plus-svg:hover {
    width: 25px;
    height: 25px;
    cursor: pointer;
    fill: #1EBAFF;
    filter: drop-shadow(4px 6px 5px rgb(160, 160, 160));
    -webkit-filter: drop-shadow(4px 6px 5px rgb(160, 160, 160));
}

.facebook-svg:hover {
    width: 25px;
    height: 22px;
    cursor: pointer;
    fill: #1EBAFF;
    filter: drop-shadow(4px 4px 5px rgb(160, 160, 160));
    -webkit-filter: drop-shadow(4px 4px 5px rgb(160, 160, 160));
}

.twitter-svg:hover {
    width: 25px;
    height: 25px;
    cursor: pointer;
    fill: #1EBAFF;
    filter: drop-shadow(4px 4px 5px rgb(160, 160, 160));
    -webkit-filter: drop-shadow(4px 4px 5px rgb(160, 160, 160));
}

.instagram-svg:hover {
    width: 25px;
    height: 25px;
    fill: #1EBAFF;
    filter: drop-shadow(4px 4px 6px gray);
    cursor: pointer;
    padding-right: 5px;
    -webkit-filter: drop-shadow(4px 4px 6px gray);
}

.letter2-svg-ico {
    width: 25px;
    height: 25px;
    fill: rgb(161, 161, 161);
}

.support-svg-ico {
    fill: white;
    width: 30px;
    height: 30px;
}

.user-svg {
    fill: orange;
    width: 20px;
    height: 20px;
}

.mall-svg {
    fill: green;
    width: 18px;
    height: 20px;
}

.phone-svg {
    fill: #56a5ff;
    width: 20px;
    height: 20px;
}

.btn-home-svg {
    height: 45px !important;
}

.btn-home-svg:hover {
    height: 45px !important;
}

.btn-home-svg:active {
    height: 45px !important;
}

.btn-home-svg:visited {
    height: 45px !important;
}

.btn-home-svg:link {
    height: 45px !important;
}

.btn-home-svg:hover .home-svg {
    fill: black;
}

.home-svg {
    fill: white;
    width: 25px;
    height: 25px;
}

.lines-svg {
    fill: #56a5ff;
    color: #56a5ff;
    width: 25px;
    height: 25px;
    padding: 2px 2px 0px 2px;
}

.flight-takeoff-svg {
    fill: white;
    width: 25px;
    height: 25px;
}

.train-svg {
    fill: white;
    width: 25px;
    height: 25px;
}

.hotel-svg {
    fill: white;
    width: 25px;
    height: 25px;
}

.car-svg {
    fill: white;
    width: 25px;
    height: 25px;
}

.pages-btn:hover .ico {
    fill: #1EBAFF;
    transition-duration: 0.5s;
}

.search-icon {
    color: white;
    font-size: 13px;
}

.location-svg-icon {
    fill: white;
    width: 25px;
    height: 25px;
}

.date-svg-icon {
    fill: rgb(146, 146, 146);
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.swap-svg-icon {
    fill: orange;
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.search-svg-ico {
    fill: rgb(38, 165, 219);
    width: 29px;
    height: 29px;
    padding-top: 6px;
    padding-right: 7px;
}

.bag-svg-ico {
    width: 29px;
    height: 30px;
    padding-right: 5px;
}

.done-svg-ico {
    fill: #E7E7E7;
    width: 15px;
    height: 15px;
    left: 13px;
    top: 10px;
    position: absolute;
}

.id-card-svg-ico {
    width: 29px;
    height: 29px;
    padding-right: 3px;
    padding-top: 4px;
}

.card-svg-ico {
    fill: rgb(38, 165, 219);
    width: 29px;
    height: 29px;
    padding-top: 6px;
    padding-right: 7px;
}

.airplane-svg-ico {
    fill: #454545;
    margin: 0 auto;
    width: 29px;
    height: 29px;
}

.train2-svg {
    fill: #454545;
    margin: 0 auto;
    width: 29px;
    height: 29px;
}

.hotel2-svg {
    fill: #454545;
    margin: 0 auto;
    width: 29px;
    height: 29px;
}

.earth-svg-ico {
    fill: #1EBAFF;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 52px;
    right: 20px;
}

.mouse-svg-ico {
    fill: #1EBAFF;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 232px;
    right: 23px;
}

.airplane2-svg-ico {
    fill: #1EBAFF;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 432px;
    right: 23px;
}

.printer-svg-ico {
    fill: #1EBAFF;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
}

.letter-svg-ico {
    fill: #1EBAFF;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
}

.phone2-svg-ico {
    fill: #1EBAFF;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
}

.go-to-up-svg-ico {
    fill: gray;
    width: 34px;
    height: 34px;
}


/* -------------------------------------------</svg icon> ----------------------------------*/


/* ---------------------------------------------------<responsive>------------------------------------------------------- */

@media (max-width:768px) {
    header {
        background: white;
    }
}

@media (max-width:768px) {
    .membership {
        color: black;
        border: 1px solid orange;
        margin-left: -10px !important;
        margin-top: -10px;
        font-size: 16px;
    }
}

@media (max-width:768px) {
    .membership:hover {
        color: black;
        border: 1px solid orange;
        margin-left: -10px !important;
        margin-top: -10px;
        font-size: 16px;
    }
}

@media (max-width:769px) {
    .mall-li {
        display: none;
    }
}

@media (max-width:768px) {
    .telephone-number {
        color: black;
        border: 1px solid #56a5ff;
        margin-top: -10px;
        margin-right: -12px !important;
    }
}

@media (max-width:768px) {
    .row-3-res {
        display: block !important;
    }
}

@media (max-width:768px) {
    .row-3-def {
        display: none !important;
    }
}

@media (max-width: 789px) {
    .smtik-logo-top {
        height: 70px !important;
        width: 105px !important;
        display: inline-block !important;
        position: relative;
        top: -20px;
        left: 0px;
    }
}

.res-a-in-btn {
    background-color: #000000bb;
    font-size: 14px;
    color: white !important;
    border: 10px solid transparent !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    width: 100% !important;
    text-decoration: none !important;
}

.res-a-in-btn:hover {
    background-color: white;
    font-size: 14px;
    color: black !important;
    border: 10px solid transparent !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
    width: 100% !important;
    text-decoration: none !important;
    filter: drop-shadow(2px 2px 2px black);
    -webkit-filter: drop-shadow(1px 1px 2px black);
}

.div-res-menu {
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-top: -60px;
    margin-right: -15px;
    display: none;
    padding: 20px;
}

.res-li-in-btn {
    background-color: transparent;
    font-size: 14px;
    color: white !important;
    height: 45px;
    list-style: none;
}

.home-icon-2 {
    color: #eee;
    font-size: 14px;
}

.res-a-in-btn:hover .home-icon-2 {
    color: black;
    font-size: 15px;
}

.dropdown-btn {
    position: relative;
    top: -70px;
    right: 15px;
    border: 2px solid rgba(161, 161, 161, 0.863);
    background-color: transparent !important;
    padding: 3px 3px 0px 3px;
    margin-top: 6px !important;
}

.dropdown-btn:hover {
    border: solid #ccc !important;
    border: 2px solid rgba(161, 161, 161, 0.863);
    background-color: transparent !important;
    padding: 3px 3px 0px 3px;
    box-shadow: none;
}


/* --------------------------------------------------</responsive>------------------------------------------------------- */

#result {
    color: black;
    font-size: 11px !important;
    display: inline-block;
}